.app-container {
  display: flex;
  flex: 1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.page-container {
  display: flex;
  flex: 1;
  padding: 10px;
  border: 3px solid #001529;
  border-left: 0;
  border-radius: 0px 8px 8px 0px;
}

.item_error {
  color: red;
}

.item_add {
  color: lightblue;
}

.buttons-block {
  justify-content: end;
  gap: 10px;
}

.buttons-block_left {
  justify-content: start;
}

.card-only-icon {
  justify-content: center;
  align-items: center;
  font-size: 80px;
}

.content-row,
.groups-row {
  overflow: hidden;
  cursor: pointer;
}

.content-row__first-item {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content-row::before {
  content: '';
  position: absolute;
  border-width: 3px;
  border-style: solid;
  border-color: inherit;
}

.content-row__first-item::before {
  inset: 3px 0 3px 3px;
  border-radius: 8px 0 0 8px;
  border-right: none;
}

.content-row__middle-item::before {
  inset: 3px 0 3px 0;
  border-right: none;
  border-left: none;
}

.content-row__last-item::before {
  inset: 3px 3px 3px 0;
  border-radius: 0 8px 8px 0;
  border-left: none;
}

.contents-page__subheader,
.groups-page__subheader,
.playlists-page__subheader,
.playlist-page__subheader {
  display: flex;
  justify-content: space-between;
  padding: 0 8px 8px 0;
}

.playlist-page__subheader {
  justify-content: end;
}

.contents-page__subheader__legend-block,
.groups-page__subheader__legend-block,
.playlist-page__subheader__legend-block {
  display: grid;
  grid-template-columns: 1fr;
}

.legend-item,
.groups-legend-item {
  display: flex;
}

.legend-item::before {
  content: '';
  width: 10px;
  height: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: inherit;
  border-radius: 4px;
  display: flex;
  margin: 4px 0 0 0;
}

.groups-legend-item::before {
  content: '';
  width: 10px;
  height: 10px;
  border-width: 10px;
  border-style: solid;
  border-color: inherit;
  border-radius: 50%;
  display: flex;
  margin: 2px 0 0 0;
  box-sizing: border-box;
}

.basepage-hr {
  margin-bottom: 8px;
}

.content__view,
.group__view,
.playlist__view,
.journal-details__main {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.content__view__label,
.group__view__label,
.playlist__view__label,
.journal-detail__main__label {
  display: flex;
  justify-content: end;
  color: darkgray;
}

.content__view__value,
.group__view__value,
.playlist__view__value,
.journal-detail__main__value {
  font-weight: 600;
}

.content__view__value__list,
.group__view__value__list,
.playlist__view__value__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content__view__value_out,
.group__view__value_out,
.playlist__view__value_out {
  color: darkgray;
}

.value_clickable {
  cursor: pointer;
  text-decoration: underline;
}

.value_clickable:hover {
  color: #6CACE4;
}

.contents-page__subheader__buttons-block,
.groups-page__subheader__buttons-block,
.playlists-page__subheader__buttons-block {
  display: flex;
  align-items: center;
}

.groups-row__role {
  border: 10px solid;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.groups-row__roles {
  display: flex;
  gap: 5px;
}

.playlist-item__content-marker {
  width: 16px;
  height: 16px;
  border-width: 3px;
  border-style: solid;
  display: flex;
  box-sizing: border-box;
  border-radius: 4px;
}

.journal__view {
  display: flex;
  flex-direction: column;
}

.journal__view__pagination-block {
  margin-top: 10px;
}

.journal__view__filter-block {
  display: flex;
  gap: 10px;
}

.journal__entity-name {
  font-weight: 600;
}

.playlist_add-item_modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__select-row {
  display: flex;
  gap: 5px;
  align-items: center;
  min-width: 300px;
  justify-content: end;
}

.content__select-label {
  width: 14px;
  height: 14px;
  min-width: 14px;
  border-width: 3px;
  border-style: solid;
  display: flex;
  box-sizing: border-box;
  border-radius: 4px;
}

.content__select-options {
  display: flex;
  min-width: 300px;
}

.playlist__view__value_expired {
  color: darkgray;
}

.playlist__view__value_planned {
  color: goldenrod;
}

.journal-details {
  display: flex;
  flex-direction: column;
}

.journal-detail__main__value__default {
  font-weight: 400;
}

.journal-details__header {
  display: flex;
  flex: 1;
  justify-content: center;
  font-size: large;
  font-weight: 600;
  margin-bottom: 5px;
}

.loading-page {
  display: flex;
  flex: 1;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.bigger-icon {
  margin: auto;
  font-size: 130px;
}