.app-container {
  display: flex;
  flex: 1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.page-container {
  display: flex;
  flex: 1;
  padding: 10px;
  border: 3px solid #001529;
  border-left: 0;
  border-radius: 0px 8px 8px 0px;
}