.app-container {
  display: flex;
  flex: 1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.page-container {
  display: flex;
  flex: 1;
  padding: 10px;
  border: 3px solid #001529;
  border-left: 0;
  border-radius: 0px 8px 8px 0px;
}

.viewpoints-card {
  max-width: 180px;
  min-width: 180px;
  max-height: 240px;
  min-height: 240px;
  display: flex;
  overflow: hidden;
  position: relative;
}

.item_error {
  color: red;
}

.item_add {
  color: lightblue;
}

.buttons-block {
  justify-content: end;
  gap: 10px;
}

.card-only-icon {
  justify-content: center;
  align-items: center;
  font-size: 80px;
}

.content-row {
  overflow: hidden;
  cursor: pointer;
}

.content-row__first-item {
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content-row::before {
  content: '';
  position: absolute;
  border-width: 3px;
  border-style: solid;
  border-color: inherit;
}

.content-row__first-item::before {
  inset: 3px 0 3px 3px;
  border-radius: 8px 0 0 8px;
  border-right: none;
}

.content-row__middle-item::before {
  inset: 3px 0 3px 0;
  border-right: none;
  border-left: none;
}

.content-row__last-item::before {
  inset: 3px 3px 3px 0;
  border-radius: 0 8px 8px 0;
  border-left: none;
}

.contents-page__subheader {
  display: flex;
  justify-content: space-between;
  padding: 0 8px 8px 0;
}

.contents-page__subheader__legend-block {
  display: grid;
  grid-template-columns: 1fr;
}

.legend-item {
  display: flex;
}

.legend-item::before {
  content: '';
  width: 10px;
  height: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: inherit;
  border-radius: 4px;
  display: flex;
  margin: 4px 0 0 0;
}

.basepage-hr {
  margin-bottom: 8px;
}

.viewpoints-card .ant-card-meta-title {
  white-space: break-spaces;
}